body {
  margin: 0;
  font-family: 'Rubik Scribble', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: 'Roboto', sans-serif;
  font-family: 'Sono', monospace;
}

